{# src/vae/RefGPCBundle/Resources/views/Accueil/accueil.html.twig #}

{% extends "vaeRefGPCBundle::default.html.twig" %}


{% block title %}{{ parent() }} - Référentiel GPC{% endblock %}


{% block body %}

  {{ include("vaeRefGPCBundle::navHorizontal.html.twig") }}
  
  <section class="corps">
  
    {{ include("vaeRefGPCBundle::navVertical.html.twig") }}
  
    <div class="container" id="ilot_corps">

        <h1>Ilots GPC - {{ libelleBase }} - {{ nbIlots }} îlots // Code base : {{ codeBase }}</h1>
 
        <br />
        Formulaire de recherche des ilots <br /><br />
        - Recherche global et bouton<br />
        - Suite du formulaire caché<br />
        - Un div result pour afficher le resultat de la recherche en jquery
        
        <br /><br />
        
        <span id="reinitForm">Réinitialiser le formulaire</span><br />
        <span id="listAll">Lister tous les îlots</span><br />
        
        {{ form(form)}}
        
        
        
        <br /><br />
         <div id="box"><a href="#">click</a></div>
        
        <div id="results_ilot">
           result ilot
        </div>
        
        {#{ dump(newIlot) }#}
        
        <ul>

            {#{ dump(allIlots) }#}
            {#% for ilot in allIlots %}

            <li>{{ ilot.getIloCodeIlot }} - {{ ilot.getTIloCoidcompetence.getCoIdCompetence }}</li>

            {% endfor %#}

            </ul>
        
        
        
        
      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script> 
        <script> 
            
$(document).ready(function () {
       
    var varForm;    
    var formURL;
    var ilot;    
        
    $('#results_ilot').on('click', '.lienDetailIlot', function () {
        
        varForm = $(this).attr('ilot'); // On récupère l'îlot
        formURL = "{{ path('vae_refgpc_ilotDetail') }}";
        ajaxForm(formURL, varForm);
    });    
        
        
        
    $('#reinitForm').on('click', function () {
        $('form[name=search_ilot_form]')[0].reset();
        $('#results_ilot').empty();
        //recup_form_ilot();
        //requete_formulaire('reinit');
    });
 
    $('#listAll').on('click', function () {
        formURL = "{{ path('vae_refgpc_ilotSearchAll') }}";
        ajaxForm(formURL, '');
    });
    
    $('#search_ilot_form_RechercheGlobale').on('keyup', function () {
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    });
    
    $('#search_ilot_form_IlotText').on('keyup', function () {
        $('#search_ilot_form_IlotList').prop('selectedIndex',0);
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    });
    
    $('#search_ilot_form_IlotList').on('change', function () {
        $('#search_ilot_form_IlotText').val(''); // réinit de l'autre choix de l'îlot (ilot tapé)
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    });    
  
    $('#search_ilot_form_TypeIlot').on('change', function () {
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    }); 
    
    $('#search_ilot_form_Used').on('change', function () {
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    });
    
    $('#search_ilot_form_Competences').on('change', function () {
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    });     
     
    $('#search_ilot_form_ServiceDem').on('change', function () {
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    }); 
    
    $('#search_ilot_form_Entreprise').on('change', function () {
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    }); 
    
    $('#search_ilot_form_DomaineAct').on('change', function () {
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    }); 
    
    $('input:radio[name="search_ilot_form[Optim]"]').change(function () {
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    }); 
    
    $('#search_ilot_form_SiteGeo').on('change', function () {
        varForm = recupFormIlot();
        formURL = "{{ path('vae_refgpc_ilotSearch') }}";
        ajaxForm(formURL, varForm);
    }); 
    
    function recupFormIlot() {
        var recupForm = $('form[name=search_ilot_form]').serialize();
        return recupForm;
    }   
        
    function ajaxForm(formURL, varForm) {
  
        $.ajax({
            type: 'POST', // envoi des données en GET ou POST
            url: formURL,
            // renseignée dans le haut de la page : vues/haut.php
            data: varForm,
                
            beforeSend: function () { // traitements JS à faire AVANT l'envoi
                //alert('beforeSend php_ilot : ' + formURL + varForm);
                
                $('#results_ilot').empty();
                //$('#ajaxLoader').show(); // ajout d'un loader pour signifier l'action
            },
            success: function (data) {
                // traitements JS à faire APRES le retour du fichier .php
                //alert('return controller success: '+data);
                //$('#ajaxLoader').hide();
            $('#results_ilot').fadeIn().html(data); // affichage des résultats dans le bloc #results
            }
        });
    }


});
        
        </script>
        
        
    </div>
  </section>
  
    {{ include("vaeRefGPCBundle::piedPage.html.twig") }}
        
{% endblock %}