<div class="col-sm-12">

<div class="row">
    <div class="col-sm-9">
        <h1>{{ detailIlot.getIlocodeilot }} - [{{ detailIlot.getIlolibelleilot }}]<h1>
    </div>            
    <div class="col-sm-3">
        <h1>Utilisé : {{ detailIlot.getTIloUsed.getUidused }}</h1>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-sm-8">
        
    Compétence / Type d'îlot : {{ detailIlot.getTIloCoidcompetence.getCoIdCompetence }}
    <br /><br />
    Service utilisateur de l'îlot : {{ detailIlot.getTIloSedidservdem.getSedidservdem }}
                                    - {{ detailIlot.getTIloSedidservdem.getSedlibelleservdem }}
    <br />
    Domaine d'activité : {{ detailIlot.getTIloDaiddomact.getDaiddomact }}
                         - {{ detailIlot.getTIloDaiddomact.getDalibelledomact }}
    <br />
    Complément domaine d'activité : {{ detailIlot.getTIloDaiddomact.getDadetaildomact }}
    <br />
    Entreprise(s) intervenante(s) : {{ detailIlot.getTIloEnidentreprise.getEnlibelleentreprise }}
    <br /><br />
    Ilot Optimisé : {% if detailIlot.getIlooptim == 0 %} Non {% else %} Oui {% endif %}
    <br />
    SAV / PROD : {{ detailIlot.getTIloPrsidprodsav.getPrslibelleprodsav }}
    <br />
    Périmètre d'intervention : {{ detailIlot.getTSitesSiidsite.getSilibellesite }}
    </div>
  
    
    <div class="col-sm-4">
    Date de création : {{ detailIlot.getIlodatecreation }}
    <br />
    Modifié le : {{ detailIlot.getIlodatemodif }}
    <br />
    Type d'îlot : {{ detailIlot.getTIloTiidtypeilot.getTiidtypeilot }}
    <br />
    Bandeau : {{ detailIlot.getTIloBanidbandeau.getBanidbandeau }} -
              {{ detailIlot.getTIloBanidbandeau.getBanlibellebandeau }}
    </div>
</div>
    
<div class="row">
    <div class="col-sm-12">
    Commentaire : {{ detailIlot.getIloinfo }}
    <br />
    Commentaire admin : {{ detailIlot.getIloinfoadmin }}
    </div>
</div>   
    
</div>

</div>
    
