{# src/vae/RefGPCBundle/Resources/views/Accueil/accueil.html.twig #}

{% extends "vaeRefGPCBundle::default.html.twig" %}


{% block title %}{{ parent() }} - Référentiel GPC{% endblock %}


{% block body %}

  {{ include("vaeRefGPCBundle::navHorizontal.html.twig") }}
  
  <section class="corps">
  
    {{ include("vaeRefGPCBundle::navVertical.html.twig") }}
  
    <div class="container" id="ilot_corps">

        <h1>Ilots GPC - {{ libelleBase }} - {{ nbIlots }} îlots // Code base : {{ codeBase }}</h1>
 
        <br />
        Formulaire de recherche des ilots <br /><br />
        - Recherche global et bouton<br />
        - Suite du formulaire caché<br />
        - Un div result pour afficher le resultat de la recherche en jquery
        
        <br /><br />
        
        {{ form(form)}}
        
        
        
        <br /><br />
         <div id="box"><a href="#">click</a></div>
        
        <div id="results_ilot">
           result ilot
        </div>
        
        {#{ dump(newIlot) }#}
        <script>
        
        myvar = 'plop2';
        //alert(myvar);
    
            
    
        </script>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script> 
        <script> 
            
$(document).ready(function () {
              
        
    
        
        
        
        
        
                $("#box").click(function(e){
                //$("#form_save").submit(function(e){
              

    var formURL = "{{ path('vae_refgpc_ilotRecherche') }}";
 //alert(formURL);
   // var myvar = document.getElementById('form_recherche'); 
    var myvar = $('form[name=form]').serialize();
    //var myvar = $("#form").serializeArray();
 //alert('plop'+myvar);
    
    //var formData = new FormData(myvar);
    //alert(JSON.stringify(formData));
    
    //var form = $('#form_recherche');
    
    //var fd = new FormData(document.getElementById("form_recherche"));
    //alert(form.toSource());
    
    $.ajax({
      
                type: 'POST', // envoi des données en GET ou POST
                url: formURL,
                // renseignée dans le haut de la page : vues/haut.php
                data: myvar,
                
                beforeSend: function () { // traitements JS à faire AVANT l'envoi
                    alert('beforeSend php_ilot : ' + formURL + myvar);

                    $('#results_ilot').empty();
                    //$('#ajaxLoader').show(); // ajout d'un loader pour signifier l'action
                },
                success: function (data) {
                    // traitements JS à faire APRES le retour du fichier .php
                    alert('return controller success: '+data);
                    //$('#ajaxLoader').hide();
                    $('#results_ilot').fadeIn().html(data); // affichage des résultats dans le bloc #results
                }
                
                
                
            });

});


});
        
        </script>
        
        
    </div>
  </section>
  
    {{ include("vaeRefGPCBundle::piedPage.html.twig") }}
        
{% endblock %}